{% load static %}
<!DOCTYPE html>
<head>
  <title>Django ChatGPT demo</title>
  <link
    rel="shortcut icon"
    href="{% static 'dog.png' %}"
  />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>
  <img src="{% static 'dog.png' %}" class="icon" />
  <h3>Name my pet</h3>
  <form action="{% url 'core:home' %}" method="post" id="basicform">
    {% csrf_token %}
    {{form.breed}}
    <button type="submit" >Generate names</button>
  </form>

  <div>
    <ul class="result">
    </ul>
  </div>

  <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'custom.js' %}"></script>
</body>
